{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Checkout{% endblock title %}

{% block content %}
<h1>Checkout</h1>
<div class="row">
    <div class="col-md-8">
        <form method="post" action="{% url 'orders:order_create' %}">
            {{ form|crispy }}
            {% csrf_token %}
            <input type="submit" class="btn btn-secondary btn-sm" value="Place order">
        </form>
    </div>
    <div class="col-md4">
    <h3>Your order</h3>
    <ul>
        {% for item in cart %}
            <li>
                {{ item.quantity }} X {{ item.product.name }}
                <span>£{{ item.total_price }}</span>
            </li>
        {% endfor %}
    </ul>
    <p>Total: £{{ cart.get_total_price }}</p>
</div>
</div>
{% endblock content %}