<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans 'Online Shop' %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" type="text" href="{% static '/css/base.css' %}">
</head>
<body>
<div id="header">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    <div class="languages">
        <p>{% trans 'Language' %}</p>
        <ul class="languages">
            {% for language in languages %}
            <li>
            <a href="/{{ language.code }}"
               {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                {{ language.name_local }}
            </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">{% trans 'The Online Shop' %}</a>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-target="#navbarSupportedContent"
                        data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="{% url 'shop:product_list' %}" class="nav-link">{% trans 'Products' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="#">{% trans 'Contact Us' %}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'About Us' %}
                                </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">{% trans 'About Us' %}</a>
                                <a class="dropdown-item" href="#">{% trans 'Our Mission' %}</a>
                                <a class="dropdown-item" href="#">{% trans 'What we do' %}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'User' %}
                                </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if user.is_authenticated %}
                                <a class="dropdown-item" href="#">{% trans 'Log Out' %}</a>
                                <a class="dropdown-item" href="#">{% trans 'View Profile' %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">{% trans 'Update Profile' %}</a>
                                {% else %}
                                <a class="dropdown-item" href="#">{% trans 'Log In' %}</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                    <a href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart"></i>
                        {% with total_items=cart|length %}
                        <span class="badge">{{total_items}}</span>
                        {% endwith %}
                    </a>
                </div>
            </div>

        </nav>
    <main>
        <div class="container">
        {% if messages %}
        <div>
            <div>
                {% for message in messages %} {% if message.tags %}
                <div class="alert alert-{{message.tags }} text-center text-capitalize" role="alert">
                    {{ message }}
                </div>
                {% else %}
                <div>
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
        {% endif %}
        {% block content %} This is the default content. {% endblock content %}
    </div>
    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
        type="text/javascript" async></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</html>